 .notifications {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 999;
    color: white;
    text-align: center;
  
    .notice {
      background-color: #0d8de0;
    }
  
    .alert {
      background-color: red;
    }
  }
