@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    width: 1080px;
    display: flex;
    margin: 0 auto;
}
.sidebar {
    width: 250px;
    background-color: #1da1f2;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 4px;
    text-align: center;
}
.sidebar a:hover {
    background-color: #0d8ddb;
}
.content {
    width: 500px;
    flex-grow: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.search {
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 20px;
}
.header input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 32px;
    border: 1px solid #ccc;
}
.header p {
    margin: 0 0 0 auto;
}
.post-box {
    margin: 20px 0;
}
.post-box textarea {
    resize: none;
    width: 470px;
    height: 300px;
    padding: 10px;
    border-radius: 12px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
button {
    height: 32px;
    width: 64px;
    color: #fff;
    background: #000;
    border-radius: 32px;
    border :none;
}
.post {
    background: #0099ff;
}

