@charset "UTF-8";
/* メニュー */
/*アカウントバー*/
/*ポスト*/
/* メインコンテンツ */
/* 投稿削除ボタン */
/*ログイン画面*/
/*ログイン,アカウント作成*/
/* 閉じるボタン */
/* Tweet（投稿）デザイン */
/*プロフィール画面*/
/*検索*/



body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}
/* スクロール禁止時のスタイル */
.no_scroll {
    overflow: hidden;
}
main {
    flex-basis: 601.5px; /* メインコンテンツの幅を指定 */
    padding: 0px;
    box-sizing: border-box;
    border-right: 1px solid #ccc; /* 右に境界線を追加 */
    border-left: 1px solid #ccc; /* 左に境界線を追加 */
}




/*メニュー*/
.home_logo {
    width: 100px;
    height: auto;
    padding-top: 5px;
}
.sidebar {
    position: sticky;
    top: 0;
    width: 260px;
    background-color: #fff;
    color: #000;
    height: 100vh;
    padding: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
.sidebar a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
}
.sidebar a[href="index"]:first-child {
    margin: 0 0 5px 0;
    padding: 0;
    width: 110px;
    border-radius: 50%;
    text-align: center;
}
.sidebar a:hover, .sidebar div:nth-child(-n+6):hover {
    background-color: #ddd;
}
.sidebar div:nth-child(3) p, .sidebar div:nth-child(5) p {
    margin-bottom: 0;
}
.sidebar a:nth-child(n+2):nth-child(-n+6) {
    display: flex;
    width: fit-content;
    margin: 10px 0;
    padding: 0 20px 0 15px;
    border-radius: 32px;
}
.sidebar a:nth-child(n+2):nth-child(-n+6) img {
    width: 28px;
    height: 28px;
    margin: 10px 5px;
    object-fit: cover;
}
.sidebar div img {
    width: 28px;
    height: auto;
}
.sidebar .postbtn {
    color: #fff;
    background-color: #1da1f2;
    border-radius: 64px;
    padding: 15px;
    text-align: center;
}
.sidebar .postbtn:hover {
    background-color: #0d8ddb;
}



/*アカウントバー*/
.accountbar {
    position: absolute;
    bottom: 0;
    margin: 10px 0px;
}
.accountbar a {
    display: flex;
    width: 250px;
    border-radius: 64px;
    padding: 0px;
    margin: 10px 0px 15px -10px;
}
.accountbar a:hover {
    background-color: #ddd;
}
.accountbar a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.accountbar a .namead {
    font-weight: 600;
}
.accountbar .tententen {
    width: 24px;
    height: 24px;
    margin: 16px 10px 10px auto;
    border: 1px solid #ccc;
}
.sidebar .bar {
    display: none;
    position: absolute;
    bottom: 100px;
}
.modal-content4 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    width: 200px;
    height: 25px;
    cursor: pointer;
}
.logout {
    border: none;
    background-color: transparent;
    padding-left: 75px;
    cursor: pointer;
    font-size: 16px;
}



/*ポスト*/
.post, .profile_edit {
    display: none; /* 初期状態では非表示 */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5); /* 背景を半透明に */
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 5;
}
.modal-content3 {
    display: flex;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    width: 550px;
    height: 300px;
    margin: 200px auto;
}
.modal-content3 img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    left: auto;
    margin: 20px;
    position: relative;
    top: 15px;
}
.message_content {
    resize: none;
    padding: 10px;
    margin: 30px 0;
    border: none;
    outline: none;
    font-size: 20px;
    inline-size: 370px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.modal-content3 .btn {
    position: relative;
    background-color: #1da1f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    bottom: -30px;
    margin-left: 10px;
    padding: 10px 18px;
    font-size: 14px;
}
.modal-content3 button:hover {
    background-color: #0d8de0;
}
.close3 {
    display: block;
    position: absolute;
    margin: 10px auto 0px 510px;
    font-size: 34px;
    cursor: pointer;
}




/* メインコンテンツ */
.content, .prof_content {
    width: 600px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}



/*ログイン画面*/
.login .logo,.content {
    width: 540px;
}
.login .logo {
    margin-top: 20px;
}
.login .content {
    width: 540px;
    margin: 100px 30px;
    border-right: none;
    border-left: none;
}
.login .content h1 {
    font-size: 64px;
}
.login .content div {
    margin-bottom: 30px;
}
.signup a {
    display: block;
    width: 300px;
    color: white;
    background-color: #1da1f2;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 24px;
    text-align: center;
}
.signup a:hover {
    background-color: #0d8ddb;
}
.signin a {
    display: block;
    width: 300px;
    color: #1da1f2;
    background-color: #fff;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 24px;
    text-align: center;
}
.signin a:hover {
    background-color: #eee;
}



/*ログイン,アカウント作成*/
.modal1, .modal2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}
.modal-content1, .modal-content2 {
    background-color: white;
    padding: 60px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    margin: 200px auto;
}
.modal-content1 input, .modal-content2 input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.modal-content1 .btn, .modal-content2 .btn {
    width: auto;
    padding: 10px 20px;
    background-color: #1da1f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.modal-content1 button:hover, .modal-content2 .btn:hover {
    background-color: #0d8de0;
}



/* 閉じるボタン */
.close1, .close2 {
    display: block;
    position: absolute;
    margin: -40px 0px 0px 320px;
    font-size: 24px;
    cursor: pointer;
}



/* Tweet（投稿）デザイン */
.display_slct {
    position: relative;
    text-align: center;
    width: 600px;
    z-index: 0;
}
.tweet_area button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.tweet_area button img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}
.tweet {
    display: flex;
    padding: 10px;
}
.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 10px;
    margin-top: 10px;
    border-radius: 50%;
}
.tweet h3 {
    margin: 10px 10px 0 5px;
    padding: 0 5px 0 65px;
    font-size: 1.25em;
}
.tweet_id {
    margin: 16px 15px 0 0;
}
.tweet_time {
    margin: 14px 20px 0 0;
}
.tweet_menu {
    position: absolute;
    top: 50px;
    right: 15px;
}
.tweet_content {
    width: 510px;
    height: auto;
    margin: 0 0 0 68px;
    text-align: left;
    font-size: 18px;
    word-wrap: break-word;
}
.tweet img, .tweet h2, .tweet {
    padding: 0;
}
.display_slct {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}
.display_slct > label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .7em 1em .5em;
    background-color: #f2f2f2;
    color: #999;
    font-weight: 600;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}
.display_slct > label:hover {
    opacity: .8;
}
.display_slct input {
    display: none;
}
.display_slct > div {
    display: none;
    width: 100%;
    background-color: #fff;
}
.display_slct label:has(:checked) {
    border-bottom: 4px solid #2589d0;
    color: #2589d0;
}
.display_slct label:has(:checked) + div {
    display: block;
}
.good {
    display: flex;
    padding-left: 60px;
    height: 35px;
    margin-top: 10px;
    border-bottom: 1px solid #ccc;
}
.good p {
    margin: 7px 100px 0 0;
}
.tweet_area button img[alt="返信"] {
    width: 32px;
    height: auto;
    margin: 3px 5px 0 0;
}
.tweet_area button img[alt="いいね"] {
    width: 23px;
    height: auto;
    margin: 4px 5px 0 0;
}



/* 投稿削除ボタン */
.destroy_btn, .menu_btn {
    position: absolute;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}
.destroy_btn img, .menu_btn img {
    width: 32px;
    height: auto;
    margin-top: 10px;
}



/*プロフィール画面*/
/* プロフィール設定 */
.close4 {
    display: block;
    position: absolute;
    margin: 10px auto 0px 510px;
    font-size: 34px;
    cursor: pointer;
    color: white;
}
/* header */
.profile_header {
    position: absolute;
    display: flex;
    width: 600px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 1;
}
.profile_header a {
    margin: auto 20px;
}
.profile_header img {
    width: 20px;
    height: 20px;
}
.profile_header h1 {
    margin: 0 10px;
    font-size: 28px;
}
.profile_header div div {
    display: flex;
    margin: 0 0 0 10px;
}
.profile_header p {
    margin: 0;
    padding-right: 5px;
}
/* body */
.profile_body {
    position: absolute;
}
.profile_body div {
    position: absolute;
}
.profile_body div div {
    width: 600px;
    height: 250px;
}
.profile_body div div:nth-child(2) {
    top: 135px;
    left: 25px;
    width: 130px;
    height: 130px;
    border-radius:50%; 
    background-color: white;
}
.profile_body img {
    max-width: 100%;
    height: auto;
}
.profile_body div img[alt="ProfileImg"] {
    position: absolute;
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius:50%;
}
.profile_body a {
    position: absolute;
    top: 210px;
    left: 465px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: white;
    color: #333;
    border: 1px solid;
    border-radius: 32px;
    text-decoration: none;
    font-weight: bold;
}
.profile_body a:hover {
    background-color: #ddd;
}
.profile_name, .follo {
    margin-left: 20px;
}
.profile_status, .profile_comment {
    margin: 0 0 15px 0;
    padding-left: 20px;
}
.profile_name {
    margin-top: 260px;
    margin-bottom: 0;
    font-weight: bold;
}
.profile_comment {
    width: 565px;
    height: auto;
    word-wrap: break-word;
}
.follo {
    display: flex;
}
.follo p {
    margin-top: 0;
}
.follo p:nth-child(1), .follo p:nth-child(3) {
    padding-right: 3px;
    font-weight: bold;
}
.follo p:nth-child(2) {
    padding-right: 20px;
}
/* 投稿表示 */
.tab  {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
}
.tab > label {
    flex: 1 1;
    order: -1;
    min-width: 70px;
    padding: .7em 1em .5em;
    background-color: #f2f2f2;
    color: #999;
    font-weight: 600;
    font-size: .9em;
    text-align: center;
    cursor: pointer;
}
.tab > label:hover {
    opacity: .8;
}
.tab input {
    display: none;
}
.tab > div {
    display: none;
    width: 100%;
    background-color: #fff;
}
.tab label:has(:checked) {
    border-bottom: 4px solid #2589d0;
    color: #2589d0;
}
.tab label:has(:checked) + div {
    display: block;
}



/*検索*/
.search {
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 20px;
}
.header input {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 32px;
    border: 1px solid #ccc;
}
.header p {
    margin: 0 0 0 auto;
}
.searchbtn {
    height: 32px;
    width: 64px;
    color: #fff;
    background: #000;
    border-radius: 32px;
    border :none;
    cursor: pointer;
}